https://github.com/ZuluPro/askbot-devel/archive/stable2.zip
https://github.com/ZuluPro/bio-directory/archive/master.zip
redis
django-celery>=3.0.11,<=3.1.17
django-mathfilters

dj_database_url
django_redis

django-dbbackup
django-storages
dropbox

django-super-favicon

facebook-sdk
Faker

bs4
web-rich-object
django-web-rich-object
newsboard
