
body.wide > .content-wrapper {
  width: 100%;
}
body.wide #ContentFull {
  width: 100%;
  padding-bottom: 0px;
}

body.home > #secondaryHeader {
  background: none;
}

body.home {
  background: #728e5b !important;
}
body.home #secondaryHeader .navbar {
  background-color: #79a655 !important;
  background-image: -moz-linear-gradient(top, #79a655, #79a655);
  background-image: -ms-linear-gradient(top, #79a655, #79a655);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#79a655), to(#79a655));
  background-image: -webkit-linear-gradient(top, #79a655, #79a655);
  background-image: -o-linear-gradient(top, #79a655, #79a655);
  background-image: linear-gradient(top, #79a655, #79a655);
  border-width: 0px;
}

body.home .nav li > a {
  color: #fbfbf5;
}
body.home .nav li.on.active a,
body.home .nav li a:hover,
body.home .nav li.on.active,
body.home .nav li:hover {
  background-color: #79a655 !important;
  color: #c5c5c5 !important;
}

.splash {
  padding-top: 10%;
  padding-bottom: 10%;
  height: 500px;
  line-height: 500px;
  width: 100%;
  text-align: center;
  color: #FFF;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  vertical-align: middle;
  position: relative;
  margin-bottom: 5px
}

.splash div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
}
.splash h1 {
  font-size: 80px;
  line-height: 100px;
}
.splash h2 {
  font-size: 40px;
  line-height: 60px;
}
.splash a.btn {
  height: 100px;
  vertical-align: middle;
  padding: 40px;
  font-size: 50px;
}

#welcome {
  background: url(/static/jardin/media/images/jardinfaq/sauterelle.jpg?v=1);
  background-size: 100%;
  background-repeat: round;
  min-height: 700px;
}
#whatis {
  background: url(/static/jardin/media/images/jardinfaq/olives-large.jpg?v=1);
  background-size: 100%;
  background-repeat: round;
  min-height: 700px;
}
#whatis h2 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
#votes {
  background: url(/static/jardin/media/images/jardinfaq/robinet.jpg?v=1);
  background-size: 100%;
  background-repeat: round;
  min-height: 800px;
}
#go {
  background: url(/static/jardin/media/images/jardinfaq/caneton.jpg?v=1);
  background-size: 100%;
  background-repeat: round;
  min-height: 800px;
}
a.tag {
  padding-left: 5px;
  padding-right: 5px;
  color: #b6c6a9;
  /*
  background: #e3efe0;
  color: #9a9a9a;
  border-radius: 5px;
  */
}
a.tag:hover {
  text-decoration: none;
  color: #4e6050;
}
a.question {
  color: #FFF;
}
a.question:hover {
  color: #CCC;
  text-decoration: none;
}
a.big-btn {
  background: none;
  color: #FFF;
  border-color: #728e5b;
  border-style: solid;
  border-width: 10px;
  border-radius: 5px;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 30px;
  padding-right: 30px;
}
a.big-btn:hover {
  color: #c1ceb5;
  text-decoration: none;
}

#logout.splash {
  background: url(/static/jardin/media/images/jardinfaq/poulet.jpg?v=1);
  background-size: cover;
}
#logout.splash h2 {
  font-size: 40px;
  line-height: 40px;
  color: #EEE;
}
#logout.splash h2 a {
  padding-left: 5px;
  padding-right: 5px;
  color: #b6c6a9;
}
#logout.splash h2 a:hover {
  text-decoration: none;
  color: #4e6050;
}
body.logout {
  background: #b7c5e1;
}
body.logout #secondaryHeader {
  background-color: #b7c5e1 !important;
}
