{% extends "one_column_body.html" %}
{% set next_path=request.path|clean_login_url|escape %}

{% block before_css %}
<link href="{{ 'style/home.css'|media }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_class %}one-col wide home{% endblock %}
{% block title %}{% spaceless %}{% trans %}Home{% endtrans %}{% endspaceless %}{% endblock %}

{% block next_login %}foo{% endblock %}
{% block content %}
<div id="welcome" class="splash">
    <div>
    <h1>{% trans app_name=settings.APP_SHORT_NAME %}Welcome to {{ app_name }}{% endtrans %}</h1>
    <h2>{% trans app_name=settings.APP_SHORT_NAME %}<b>{{ app_name }}</b> is question and answer website for gardening enthusiast. It's built by a community of horticulturist, permaculturist and nature lovers.{% endtrans %}</h2>
    </div>
</div>
<div id="whatis" class="splash">
    <div>
    <h1>{% trans %}Ask questions about:{% endtrans %}</h1>
    {% if most_viewed_thread %}
    <h2>
     <a class="tag" href="{% url "questions" %}tags:{{ most_viewed_thread.tagnames.split()[0] }}/">{{ most_viewed_thread.tagnames.split()[0].capitalize() }}</a> : 
     <i><a class="question" href="{{ most_viewed_thread.get_absolute_url() }}">{{ most_viewed_thread.title }}</a></i>
    </h2>
    {% endif %}
    {% if most_answered_thread %}
    <h2>
     <a class="tag" href="{% url "questions" %}tags:{{ most_answered_thread.tagnames.split()[0] }}/">{{ most_answered_thread.tagnames.split()[0].capitalize() }}</a> : 
     <i><a class="question" href="{{ most_answered_thread.get_absolute_url() }}">{{ most_answered_thread.title }}</a></i>
    </h2>
    {% endif %}
    {% if most_favourited_thread %}
    <h2>
     <a class="tag" href="{% url "questions" %}tags:{{ most_favourited_thread.tagnames.split()[0] }}/">{{ most_favourited_thread.tagnames.split()[0].capitalize() }}</a> :
     <i><a class="question" href="{{ most_favourited_thread.get_absolute_url() }}">{{ most_favourited_thread.title }}</a></i>
    </h2>
    {% endif %}
    {% if most_scored_thread %}
    <h2>
     <a class="tag" href="{% url "questions" %}tags:{{ most_scored_thread.tagnames.split()[0] }}/">{{ most_scored_thread.tagnames.split()[0].capitalize() }}</a> : 
     <i><a class="question" href="{{ most_scored_thread.get_absolute_url() }}">{{ most_scored_thread.title }}</a></i>
    </h2>
    {% endif %}
    </div>
</div>
<div id="votes" class="splash">
    <div>
    <h1>{% trans %}Or answer to questions{% endtrans %}</h1>
    <h1>{% trans %}And earn badges and points{% endtrans %}</h1>
    </div>
</div>
<div id="go" class="splash">
    <div>
        <h1><a class="big-btn" href="{% url "questions" %}">{% trans %}Join us{% endtrans %}</a></h1>
        <h1>{% trans %}And{% endtrans %}</h1>
        <h1>{% trans %}Enjoy our community{% endtrans %}</h1>
    </div>
</div>
{% endblock %}
