{% import "macros.html" as macros %}
<!-- template secondary_header.html -->
<div id="secondaryHeader">
    <div class="content-wrapper">
        {# form is wrapping search buttons and the search bar inputs #}
        {% set enabled_scopes_class = 'scopes-' + 
            '%s'|format(settings.ALL_SCOPE_ENABLED) + '-' +
            '%s'|format(settings.UNANSWERED_SCOPE_ENABLED) + '-' +
            '%s'|format((request.user.is_authenticated() and settings.FOLLOWED_SCOPE_ENABLED))
        %}
        <form
            {% if active_tab == "tags" %}
                action="{% url tags %}" 
            {% elif page_class == 'user-profile-page' %}
                action="{% url questions %}" id="searchForm"
            {% elif active_tab == "users" %}
                action="" 
            {% else %}
                action="{% url questions %}" id="searchForm"
            {% endif %}
            class="{{ enabled_scopes_class }}"
            method="get">
            {# 
                A single row table to help the semi-fixed width layout where:
                * all cells have "tight width" without linebreaks
                * except that the search bar cell takes the remaining width
                We had hard time making this layout work without tables.
                Please suggest if there is a better way.
            #}
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3">
              {% include "widgets/logo.html" %}
          </div>
          <div class="col-xs-12 col-sm-10 col-md-7">
              {% include "widgets/search_bar.html" %}
          </div>
          <div class="col-xs-8 col-xs-offset-2 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0">
              {% include "widgets/user_navigation.html" %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <nav class="navbar navbar-default">
                  <div class="container-fluid">
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                      </div>
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">
                           <li class="scope-selector {% if active_tab == 'questions' %}active on{% endif %}">
                             <a id="navQuestion" href="{% url questions %}" class="scope-selector{% if active_tab == 'questions' %} on{% endif %}">{% trans %}Questions{% endtrans %}</a>
                           </li>
                           <li class="scope-selector {% if active_tab == 'tags' %}active on{% endif %}">
                             <a id="navTags" href="{% url tags %}" class="scope-selector{% if active_tab == 'tags' %} on{% endif %}">{% trans %}Tags{% endtrans %}</a>
                           </li>
                           {% if settings.GROUPS_ENABLED %}
                           <li class="scope-selector {% if active_tab == 'groups' %}active on{% endif %}">
                            <a id="navGroups" class="scope-selector {% if active_tab == 'groups' %} on{% endif %}" href="{% url groups %}">
                              {% trans %}people & groups{% endtrans %}
                            </a>
                           </li>
                           {% else %}
                           <li class="scope-selector {% if active_tab == 'users' %}active on{% endif %}">
                            <a id="navUsers" href="{% url users %}" class="scope-selector{% if active_tab == 'users' %} on{% endif %}">{% trans %}Users{% endtrans %}</a>
                           </li>
                           {% endif %}
                           {% if settings.BADGES_MODE == 'public' %}
                           <li class="scope-selector {% if active_tab == 'badges' %}active on{% endif %}">
                            <a id="navBadges" href="{% url badges %}" class="scope-selector{% if active_tab == 'badges' %} on{% endif %}">{% trans %}Badges{% endtrans %}</a>
                           </li>
                           {% endif %}
                           <li class="scope-selector">
                            <a class="help" href="{% url "help" %}" title="{% trans %}Help{% endtrans %}">{% trans %}Help{% endtrans %}</a>
                           </li>
                           <li class="scope-selector">
                            <a class="help" href="{% url "post-list" %}" title="{% trans %}News{% endtrans %}">{% trans %}News{% endtrans %}</a>
                           </li>
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                     {% if request.user.is_superuser %}
                     <li>
                         <a href="{% url 'admin:index' %}">{% trans %}Admin{% endtrans %}</a>
                     </li>
                     {% endif %}
                     {% if settings.ASK_BUTTON_ENABLED %}
                     <li>
                      {% include "widgets/ask_button.html" %}            
                     </li>
                     {% endif %}
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
        </div>
    </form>
</div>
</div>
