upstream jardinfaq {
    server 127.0.0.1:30310;
}

server {
    listen 80;
    server_name {{ server_url }}; 

    add_header Strict-Transport-Security max-age=15768000;

    # Log
    access_log /var/log/nginx/jardinfaq.log;
    error_log /var/log/nginx/jardinfaq.err.log warn;

    # Misc
    client_max_body_size 10M;

    # Headers
    add_header X-Frame-Options "SAMEORIGIN";

    location / {
        uwsgi_pass jardinfaq;
        include uwsgi_params;
    }

    location = /robots.txt {
        root /var/www/jardinfaq/;
        access_log off;
        log_not_found off;
    }
    location ~ ^/static/ {
        root /var/www/jardinfaq/;
        autoindex   on;
        add_header Pragma public;
        add_header Cache-Control "public, must-revalidate, proxy-revalidate";
    }

    location ~ ^/media/ {
        root /var/www/jardinfaq/;
        autoindex   on;
        add_header Pragma public;
        add_header Cache-Control "public, must-revalidate, proxy-revalidate";
    }

    location ~ /\. { access_log off; log_not_found off; deny all; }
    location ~ ~$  { access_log off; log_not_found off; deny all; }

    rewrite ^/(admin/.*) https://$server_name$1 permanent;
}

server {
    listen 443 ssl;
    server_name {{ server_url }}; 

    # Log
    access_log /var/log/nginx/jardinfaq.log;
    error_log /var/log/nginx/jardinfaq.err.log warn;

    # Misc
    client_max_body_size 10M;

    # SSL
    ssl on;
    ssl_certificate {{ ssl_cert_addr }};
    ssl_certificate_key {{ ssl_key_addr }};
    ssl_dhparam {{ dhparam_pem_addr }};
    ssl_prefer_server_ciphers       on;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_session_cache shared:SSL:10m;
    ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';

    # Headers
    add_header X-Frame-Options "SAMEORIGIN";

    location / {
        root /var/www/jardinfaq/;
        uwsgi_pass jardinfaq;
        include uwsgi_params;
    }

    location = /robots.txt {
        root /var/www/jardinfaq/;
        access_log off;
        log_not_found off;
    }
    location ~ ^/static/ {
        root /var/www/jardinfaq/;
        autoindex   on;
        add_header Pragma public;
        add_header Cache-Control "public, must-revalidate, proxy-revalidate";
    }
    location ~ ^/media/ {
        root /var/www/jardinfaq/;
        autoindex   on;
        add_header Pragma public;
        add_header Cache-Control "public, must-revalidate, proxy-revalidate";
    }

    location ~ /\. { access_log off; log_not_found off; deny all; }
    location ~ ~$  { access_log off; log_not_found off; deny all; }
}
