{% load i18n %}
<div class="paginator" style="float: left" data-num-pages="{{ page_obj.paginator.num_pages }}" >
    {% if page_obj.has_previous %}
    <span class="prev">
        <a href="{{page_obj.base_url}}?page={{ page_obj.previous_page_number }}{{ anchor }}" title="{% trans "previous" %}" >&laquo; {% trans "previous page" %}</a>
    </span>
    {% endif %}

    <span class="main-pages-nav">
    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <span class="curr page" data-page="{{ num }}" title="{% trans "current page" %}"><a>{{ num }}</a></span>
        {% else %}
            <span class="page" data-page="{{ num }}"><a href="{{page_obj.base_url}}?page={{ num }}{{ anchor }}" title="{% blocktrans with num=page_obj.number %}page {{ num }}{% endblocktrans %}">{{ num }}</a></span>
        {% endif %}
    {% endfor %}
    </span>

    {% if page_obj.has_next %}
    <span class="next">
        <a href="{{page_obj.base_url}}?page={{ page_obj.next_page_number }}{{ anchor }}" title="{% trans "next page" %}">{% trans "next" %} &raquo;</a>
    </span>
    {% endif %}
</div>
